/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
 
a {
	margin: 5px;
	padding: 5px;
}

head {
	width: 25%;
	margin: 20px;
	padding: 12px;
	float:right;
}

section {
width: 25% 
float: left;
margin: 20px;
padding: 12px;
}

h1 {
	margin:10px;
	 padding: 10%;
	 width: 20%;
	float: left;
}

links {
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	width: 5px;
	float:right;
}
  .started {
	
	margin:10px;
	padding:10px;
	float: left;

}

h2 {
	margin: 10px;
	padding: 10px;

}
#div1 {

	width: 40%;
	height: 10%;
	float: left;
	padding: 20px;
	margin-left: 10px;
	margin-right: 20px;
}
#div2 {
	width: 40%;
	height: 30%;
	float: right;
	padding: 20px;
	margin: 20px;
	
}
#div3 {
	margin: 10px;
	padding:10px;
	width: 20%;
	height: 30%;
	float: left;
} #div4 {
	margin: 10px;
	padding: 10px;
	width: 20%;
	height: 30%;
	display: inline-block;
	float: left;
}

#div5 {;
	padding:10px;
	width: 20%;
	height: 30%;
	box-sizing: border-box;
	display: inline-block;
}

.middle-img {
	
	margin-left: auto;
	margin-right: auto;
	display: block;
}
	
address {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
 
footer {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
html {
	margin: 10px;
	padding: 10px;
	border: 1px solid gray;

}